@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 12px;
  margin-top: 2rem;
}
::-webkit-scrollbar-track {
  background: #f3f2f2;
}
::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 12px;
  border: 3px solid #f1f1f1;
}
@layer components {
  .mainButton,
  .mainButtonDisabled {
    background-color: #ed67e2;
    width: 300px;
    height: 40px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 3rem;
    font-weight: 700;
    letter-spacing: 0.7px;
  }
  .mainButtonDisabled {
    background-color: #f598ed;
    color: white;
  }
  .largeLogo {
    width: 245px;
    height: 381px;
    margin-top: 3rem;
  }
  .mediumLogo {
    width: 190px;
    height: 260px;
    margin-top: 2rem;
  }
  .signUpLogo {
    width: 150px;
    height: 260px;
    margin-top: 2rem;
  }
}
