@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 12px;
  margin-top: 2rem;
}
::-webkit-scrollbar-track {
  background: #f3f2f2;
}
::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 12px;
  border: 3px solid #f1f1f1;
}
@layer components {
  .test {
    font-size: 80px;
  }
}
